.first{
background: #EEEDDE;
}
.navbar-nav{
column-gap: 100px;
}

.navbar-brand{
width: 72px;
height: 42px;

}
.nav-link{
color: black;
padding-left: 0 !important;
padding-right: 0 !important;
font-size: 16px;
font-weight: 300;
font-family: "Poppins", sans-serif; }
.title-part{
background: #EEEDDE;
}
.title h2{
width: 777px;
font-family: "Poppins", serif;
color: black;
font-weight: 600;
font-size: 56px;
line-height: 150%;
padding-top: 192px;
}
.title p{
width: 544px;
font-family: "Poppins", serif;
color: black;
font-weight: 300;
font-size: 16px;
line-height: 30px;
padding-top: 24px;
}
.title input{
width: 675px;
height: 70px;
border: 1px solid blue;
border-radius: 15px;
}
.input{
position: relative;
padding: 56px 0;
}
.search-overlay{
width: 140px;
height: 50px;
position: absolute;
top: 36%;
left: 62%;
background: black;
border-radius: 15px;
}
.search-overlay p{
width: 58px;
height: 24px;
font-family: "Poppins", serif;
color: white;
font-weight: 600;
font-size: 16px;
padding: 10px 41px
}
.input::placeholder{
margin-left: 20px;
}
.numberOne{
display: flex;
padding-top: 50px;
}

.number2{
padding-left: 75px;
padding-right: 72px;
}
.number1 h2{
width: 143px;
height: 84px;
font-family: "Poppins", serif;
color: #203239;
font-weight: 600;
font-size: 56px;
}
.number1 p{
width: 142px;
height: 60px;
font-family: "Poppins", serif;
color: #203239;
font-weight: 300;
font-size: 16px;
}

.number2 h2{
width: 143px;
height: 84px;
font-family: "Poppins", serif;
color: #203239;
font-weight: 600;
font-size: 56px;
}
.number2 p{
width: 142px;
height: 60px;
font-family: "Poppins", serif;
color: #203239;
font-weight: 300;
font-size: 16px;
}

.number3 h2{
width: 143px;
height: 84px;
font-family: "Poppins", serif;
color: #203239;
font-weight: 600;
font-size: 56px;
}
.number3 p{
width: 142px;
height: 60px;
font-family: "Poppins", serif;
color: #203239;
font-weight: 300;
font-size: 16px;
}

.property-part{
background: white;
padding: 100px 0;
}
.property-title h2{
width: 533px;
height: 108px;
font-family: "Poppins", serif;
color: #203239;
font-weight: 600;
font-size: 36px;
line-height: 150%;
margin-bottom: 64px;
}
.property-title{
display: flex;
}
.card-body{
padding: 0;
} 
.card{
width: 100%;
border: 0;
border-radius: 0;
padding-bottom: 100px;
padding-left: 0;
padding-right:132px ;
}
.card-title{
  width: 100px;
  font-family: "Poppins", serif;
  color: #203239;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 8px;
}
.card-text{
  width: 232px;
  font-family: "Poppins", serif;
  color: #203239;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 40px;
}
.button1{
position: relative;
}
.button1 a{
text-decoration: none;
color: black;
width: 139px;
font-size: 16px;
font-weight: 500;
font-family: "Poppins", serif;
}
.button1 i{
position: absolute;
top: 0;
left: 50%;
transform: translateY(50%);
transition: 0.4s;
opacity: 0;
}
.button1:hover i{
left: 55%;
opacity: 1;
}

.card-title2{
  width: 122px;
  font-family: "Poppins", serif;
  color: #203239;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 8px;
}
.card-title3{
  width: 150px;
  font-family: "Poppins", serif;
  color: #203239;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 8px;
}